---
layout: default
title: GuoJing's Blog|只要心还跳
---

{% for post in site.posts %}
{% if forloop.index == 1 %}
    <div class="posts">
    <div class="title">{{ post.title }}</div>
    <div class="content">
    {{ post.content }}
    </div>

    </div>
    {% if forloop.length > 1 %}
        <hr>
        <div class="eof">EOF</div>
        <hr>
        <h3><strong>阅读更多:</strong></h3><br>
    {% endif %}
{% else %}
    {% if forloop.index <= 6 %}
    <div class="title justtitle"><a href="/linux-kernel-architecture{{ post.url }}">{{ post.title }}</a></div>
    {% endif %}
{% endif %}
{% endfor %}
