{% if page.not_comment %}
<div class="share clearfix"></div>
{% else %}
<div class="share clearfix">
<div class="douban">
  <a href="http://9.douban.com/reader/subscribe?url=http://www.guojing.me" target="_blank"><img src="http://www.douban.com/pics/newnine/feedbutton1.gif"/></a>
</div>
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
	<a href="http://www.jiathis.com/share?uid=1703325" class="jiathis jiathis_txt" target="_blank"><img src="http://v3.jiathis.com/code_mini/images/btn/v1/jiathis1.gif" border="0" /></a>
	<a class="jiathis_counter_style_margin:3px 0 0 2px"></a>
</div>
<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1334822780652798" charset="utf-8"></script>
<!-- JiaThis Button END -->
</div>
{% endif %}
